/****** CSS general rules ******/
body {
    font-family:'Inter-Medium','Helvetica','san-serif';
}

/****** CSS header ******/
nav {
    padding: 10px 0;
}
.logo_header {
    height: 30px;
}
nav.row ul li {
    list-style: none;
    display: inline-block;
}
nav.row ul li a {
    text-decoration: none;
    color: #2b3f68;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}
.info-col, .supp-col i {
    font-size: 14px;
    margin-left: 3px;
}
nav.row .col-4 {
    text-align: right;
}
nav.row .container {
    align-items: center;
}
.menu_bars {
    font-size: 25px;
    color: #2888fd;
    text-align: right;
}

/*** Header queries ***/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .info-col, .supp-col {
        display: none;
    }
    .logo-col {
        padding: 20px 30px;
    }
}

@media screen and (min-width: 992px) {
    .menu_bars {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .info-col, .supp-col {
        display: none;
    }
    .logo-col {
        padding: 20px 30px;
    }
}

/*** /END/ header queries ***/

/****** /END/ CSS header ******/

/****** CSS main ******/
/*** CSS jumbotron section ***/



/*** /ENE/ CSS jumbotron section ***/

/****** CSS utilities ******/
.btn {
    border: 2px solid #2881ff;
    color: #2881ff;
    padding: 5px 15px;
    border-radius: 5px;
}