/****** CSS general rules ******/
body {
    font-family:'Inter-Medium','Helvetica','san-serif';
}

/****** CSS header ******/
nav {
    padding: 10px 0;
}
.logo_header {
    height: 30px;
}
nav.row ul li {
    list-style: none;
    display: inline-block;
}
nav.row ul li a {
    text-decoration: none;
    color: #2b3f68;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}
.info-col, .supp-col i {
    font-size: 14px;
    margin-left: 3px;
}
nav.row .col-4 {
    text-align: right;
}
nav.row .container {
    align-items: center;
}
.menu_bars {
    font-size: 25px;
    text-align: right;
    display: none;
}
/****** /END/ CSS header ******/

/****** CSS main ******/
/*** CSS jumbotron section ***/
.jumbosection {
    background-image: url(../assets/img/bg-banner-home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jumbotron {
    padding: 5rem 2rem;
}
.jumbotitles {
    align-items: center;
}
.jumbotitles>h1{
    font-size: 65px;
    margin-bottom: 20px;
}
.jumbotitles>p {
    line-height: 2rem;
    color: lightgray;
}
.jumboform {
    padding: 1.5rem;
    background-color: white;
    border-radius: 5px;
}
.jumboform h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}
.jumboform input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0.5rem 0;
}
.jumboform img {
    height: 20px;
    margin: 0 25% 0 2%;
}
.f-footer {
    text-align: center;
    padding-bottom: 0.8rem;
    font-size: 14px;
}
/*** /END/ CSS jumbotron section ***/

/*** CSS affiliates section ***/
.affiliates {
    background-color: #f3f5f9;
}
.affiliates>h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight:500;
    color: gray;
    padding: 3rem;
}
.affiliates>.row {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
}
.affiliates a {
    text-decoration: none;
}
.view_link {
    justify-content: center;
    font-weight: bold;
    padding-bottom: 2.5rem;
}

/*** /END/CSS affiliates section ***/

/****** CSS utilities ******/
.h_btn {
    border: 2px solid #2881ff;
    color: #2881ff;
    padding: 5px 15px;
    border-radius: 5px;
}
.c_btn {
    background-color: #579aff;
    padding: 0.5rem 0;
    justify-content: center;
    border-radius: 5px;
}
.s_btn {
    padding: 0.5rem 0;
    box-shadow: 1px 1px 0 1px lightgray;
    border-radius: 5px;
}
.white {
    color: white;
}
.darkblue {
    color: #2b3f68;
}
.strongblue{
    color: #2881ff;
}
.mg-top-1{
    margin-top: 1rem;
}


/****** Media queries ******/
@media screen and (max-width: 768px) {
    /*** Header queries ***/
    .jumbotron {
        padding: 5rem 1rem;
    }
    .jumbotitles>h1{
        font-size: 45px;
    }
    .jumbotitles>p {
        font-size: 20px;
        padding-bottom: 1rem;
    }
    .info-col, .supp-col {
        display: none;
    }
    .logo-col {
        padding: 20px 30px;
    }
    .affiliates>.row {
        flex-wrap: wrap;
    }
    .affiliates>.row>img {
        width: calc(100% / 2 - 2rem);
        padding: 2rem;
    }
    /*** /END/ Header queries ***/
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*** Header queries ***/
    .info-col, .supp-col {
        display: none;
    }
    .logo-col {
        padding: 20px 30px;
    }
    .jumbotron {
        padding: 5rem 2rem;
    }
    .jumbotitles>h1{
        font-size: 45px;
    }
    .jumbotitles>p {
        font-size: 25px;
    }
    .affiliates>.row{
        padding: 2rem;
    }
    .affiliates img {
        max-width: 110px;
    }
    /*** /END/ Header queries ***/
}

/****** /END/ media queries ******/